:javascript
  $(function() {
    $( "#shift_date" ).datepicker();
    $("#shift_date").change(function (){
      $.get("/shifts/trips", { 'date': $("#shift_date").val(), 'time': $("#shift_time").val() }, null, "script");
    });
  });
= form_for(@shift) do |f|
  .row
    = f.label :date
    = f.text_field :date 
  .row
    = f.label :time
    = f.select :time, options_for_select(Shift::TIMES.keys.map { |t| [ Shift::TIMES[t], t.to_s ] })
  .row
    = f.label :master, "Мастер"
    = f.select :master, options_for_select(Master.all.map { |p| [ p.full_name, p.id ] })
  .row#trips
    = render :partial => "trips"
  .row.submit
    = f.submit 'Сохранить'
