= link_to 'Добавить смену', new_shift_path
- @shifts.each do |shift|
  %div
    = shift.date.to_s(:short_date)
    = Shift::TIMES[shift.time.to_sym]
    = shift.person.name
    = link_to 'Удалить', shift, :confirm => 'Вы уверены?', :method => :delete
