:javascript
  $(function() {
    $( "#start_date" ).datepicker({ dateFormat: 'dd/mm/yy' });
    $( "#finish_date" ).datepicker({ dateFormat: 'dd/mm/yy' });
  });
= form_tag("/shifts", :method => :get) do
  .row
    = label_tag "Начало" 
    = text_field_tag :start_date
  .row
    = label_tag "Конец" 
    = text_field_tag :finish_date
  .row
    = submit_tag "Показать"
= link_to 'Добавить смену', new_shift_path
- if @shifts.present?
  %table.table.shifts-list
    %tr
      %th.first<= t 'activerecord.attributes.shift.date'
      %th.time<= t 'activerecord.attributes.shift.time'
      %th<= t 'activerecord.attributes.shift.master'
      %th< Кол-во рейсов 
      %th< &nbsp;
      %th.delete< &nbsp;
    - @shifts.each do |shift|
      %tr
        %td<= shift.date.to_s(:short_date)
        %td<= Shift::TIMES[shift.time.to_sym]
        %td<= shift.master.name
        %td<= shift.trips_count
        - if current_user && current_user.person.is_a?(Admin)
          %td<= link_to 'Редактировать', edit_shift_path(shift)
        - else
          %td<= link_to 'Инфо', shift_path(shift)
        %td<= link_to 'Удалить', shift, :confirm => 'Вы уверены?', :method => :delete
