%h1< Vehicles
%ul.vehicles-list
  %li.vehicle
    .identifier< ID
    %span< Name
  - @vehicles.each do |v|
    %li.vehicle
      .identifier<= v.identifier
      %span<= link_to_if current_user, v.name, edit_vehicle_path(v)
      - if current_user
        %span<= link_to 'Delete', v, :confirm => 'Are you sure', :method => :delete, :class => 'destroy'

- if current_user
  = link_to 'Add vehicle', new_vehicle_path
  = form_for(@vehicle) do |f|
    .vehicle-edit
      - unless @vehicle.new_record?
        .row
          = f.label :identifier
          = f.text_field :identifier 
      .row
        = f.label :name
        = f.text_field :name
      .row.submit
        = f.submit 'Сохранить'
