%h1< Транспортные средства
.vehicles-list
  - if @vehicles.any?
    %ul.list
      %li.vehicle
        .identifier.header< ID
        %span.header< Название
      - @vehicles.each do |v|
        %li.vehicle
          .identifier<= v.identifier
          %span<= link_to_if current_user, v.name, edit_vehicle_path(v)
          - if current_user
            %span<= link_to 'Удалить', v, :confirm => 'Вы уверены?', :method => :delete, :class => 'destroy'
  - else
    Нет добавленных транспортных средств

- if current_user
  = link_to 'Добавить машину', new_vehicle_path
  = form_for(@vehicle) do |f|
    .vehicle-edit
      - unless @vehicle.new_record?
        .row
          = f.label :identifier
          = f.text_field :identifier 
      .row
        = f.label :name
        = f.text_field :name
      .row.submit
        = f.submit 'Сохранить'
